.built-in-event ul {
  margin: 0;
  padding-left: 20px;
}

.built-in-event ul li {
  color: black;
  word-wrap: break-word;
  font-size: 10px;
  list-style-type: initial;
}

.week-view-event {
  background: red;
  border-radius: 21px;
  cursor: pointer;
  height: 21px;
  overflow: visible;
  line-height: 20px;
}

.employee-calendar-display-name {
  color: black;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

::ng-deep {
  .cal-week-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border: 0;
  }
  .cal-week-view .cal-day-column {
    border: 0;
  }
  .cal-week-view .cal-starts-within-day .cal-event {
    background: transparent !important;
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  .cal-hour {
      width: 100%;
  }
}

