<a class="nav-link" href="#" style="min-width: 2.25rem" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 10.5204C11.59 10.5204 11.25 10.1804 11.25 9.77043V6.44043C11.25 6.03043 11.59 5.69043 12 5.69043C12.41 5.69043 12.75 6.03043 12.75 6.44043V9.77043C12.75 10.1904 12.41 10.5204 12 10.5204Z" fill="#5A6A85"/>
    <path d="M12.0208 20.35C9.44084 20.35 6.87084 19.94 4.42084 19.12C3.51084 18.82 2.82084 18.17 2.52084 17.35C2.22084 16.53 2.32084 15.59 2.81084 14.77L4.08084 12.65C4.36084 12.18 4.61084 11.3 4.61084 10.75V8.64999C4.61084 4.55999 7.93084 1.23999 12.0208 1.23999C16.1108 1.23999 19.4308 4.55999 19.4308 8.64999V10.75C19.4308 11.29 19.6808 12.18 19.9608 12.65L21.2308 14.77C21.7008 15.55 21.7808 16.48 21.4708 17.33C21.1608 18.18 20.4808 18.83 19.6208 19.12C17.1708 19.95 14.6008 20.35 12.0208 20.35ZM12.0208 2.74999C8.76084 2.74999 6.11084 5.39999 6.11084 8.65999V10.76C6.11084 11.57 5.79084 12.74 5.37084 13.43L4.10084 15.56C3.84084 15.99 3.78084 16.45 3.93084 16.85C4.08084 17.25 4.42084 17.55 4.90084 17.71C9.50084 19.24 14.5608 19.24 19.1608 17.71C19.5908 17.57 19.9208 17.25 20.0708 16.83C20.2308 16.41 20.1808 15.95 19.9508 15.56L18.6808 13.44C18.2608 12.75 17.9408 11.58 17.9408 10.77V8.66999C17.9308 5.39999 15.2808 2.74999 12.0208 2.74999Z" fill="#5A6A85"/>
    <path d="M11.9999 22.9003C10.9299 22.9003 9.87992 22.4603 9.11992 21.7003C8.35992 20.9403 7.91992 19.8903 7.91992 18.8203H9.41992C9.41992 19.5003 9.69992 20.1603 10.1799 20.6403C10.6599 21.1203 11.3199 21.4003 11.9999 21.4003C13.4199 21.4003 14.5799 20.2403 14.5799 18.8203H16.0799C16.0799 21.0703 14.2499 22.9003 11.9999 22.9003Z" fill="#5A6A85"/>
  </svg>
</a>

<div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret" id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
  <div class="card position-relative border-0">
    <div class="card-header p-2">
      <div class="d-flex justify-content-between">
        <h5 class="text-body-emphasis mb-0">Notificatons</h5>
        <button class="btn btn-link p-0 fs-9 fw-normal" type="button">Mark all as read</button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="scrollbar-overlay" style="height: 27rem;">
        <div class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom">
          <div class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex">
              <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="assets/img/team/40x40/30.webp" alt="" />
              </div>
              <div class="flex-1 me-sm-3">
                <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">10m</span></p>
                <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:41 AM </span>August 7,2021</p>
              </div>
            </div>
            <div class="d-none d-sm-block">
              <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
          </div>
        </div>
        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
          <div class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex">
              <div class="avatar avatar-m status-online me-3">
                <div class="avatar-name rounded-circle"><span>J</span></div>
              </div>
              <div class="flex-1 me-sm-3">
                <h4 class="fs-9 text-body-emphasis">Jane Foster</h4>
                <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>📅</span>Created an event.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">20m</span></p>
                <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:20 AM </span>August 7,2021</p>
              </div>
            </div>
            <div class="d-none d-sm-block">
              <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
          </div>
        </div>
        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
          <div class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex">
              <div class="avatar avatar-m status-online me-3"><img class="rounded-circle avatar-placeholder" src="assets/img/team/40x40/avatar.webp" alt="" />
              </div>
              <div class="flex-1 me-sm-3">
                <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">1h</span></p>
                <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:30 AM </span>August 7,2021</p>
              </div>
            </div>
            <div class="d-none d-sm-block">
              <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
          </div>
        </div>
        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
          <div class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex">
              <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="assets/img/team/40x40/57.webp" alt="" />
              </div>
              <div class="flex-1 me-sm-3">
                <h4 class="fs-9 text-body-emphasis">Kiera Anderson</h4>
                <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:11 AM </span>August 7,2021</p>
              </div>
            </div>
            <div class="d-none d-sm-block">
              <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
          </div>
        </div>
        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
          <div class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex">
              <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="assets/img/team/40x40/59.webp" alt="" />
              </div>
              <div class="flex-1 me-sm-3">
                <h4 class="fs-9 text-body-emphasis">Herman Carter</h4>
                <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👤</span>Tagged you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:58 PM </span>August 7,2021</p>
              </div>
            </div>
            <div class="d-none d-sm-block">
              <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
          </div>
        </div>
        <div class="px-2 px-sm-3 py-3 notification-card position-relative read ">
          <div class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex">
              <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="assets/img/team/40x40/58.webp" alt="" />
              </div>
              <div class="flex-1 me-sm-3">
                <h4 class="fs-9 text-body-emphasis">Benjamin Button</h4>
                <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:18 AM </span>August 7,2021</p>
              </div>
            </div>
            <div class="d-none d-sm-block">
              <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer p-0 border-top border-translucent border-0">
      <div class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opactity-85"><a class="fw-bolder" href="pages/notifications.html">Notification history</a></div>
    </div>
  </div>
</div>
