<div class="row">
    <div class="col-lg-12">
      <div class="row dashboard-cards-wrapper">
        <div class="col-lg-8 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold">Asset Details</h5>
              <h6 class="fs-10 text-body-tertiary card-subtitle mb-2">Overview</h6>
              <div class="col-lg-12">
                <div class="row top-details-list mt-4 pb-3">
                    <div class="col-lg-3 col-md-4 col-6 list-col">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="list-icon circle1">
                                    <span class="isax isax-external-drive"></span>
                                </div>
                            </div>                     
                            <div class="top-alert-content">
                                <p class="fs-10 text-body-tertiary mb-0">Name</p>
                                <div class="fs-10 fw-semibold text-body-emphasis list-title">Tata Power Substation</div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 list-col">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="list-icon circle2">
                                    <span class="isax isax-slider-horizontal"></span>
                                </div>
                            </div>                            
                            <div class="top-alert-content">
                                <p class="fs-10 text-body-tertiary mb-0">Tpye</p>
                                <div class="fs-10 fw-semibold text-body-emphasis list-title">Telecom Tower</div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 list-col">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="list-icon circle3">
                                    <span class="isax isax-battery-charging"></span>
                                </div>
                            </div>                           
                            <div class="top-alert-content">
                                <p class="fs-10 text-body-tertiary mb-0">Batteries</p>
                                <div class="fs-10 fw-semibold text-body-emphasis list-title">24</div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 list-col">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="list-icon circle4">
                                    <span class="isax isax-element-4"></span>
                                </div>
                            </div>                            
                            <div class="top-alert-content">
                                <p class="fs-10 text-body-tertiary mb-0">String Length</p>
                                <div class="fs-10 fw-semibold text-body-emphasis list-title">12</div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 list-col">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="list-icon circle5">
                                    <span class="isax isax-flash-circle"></span>
                                </div>
                            </div>
                            <div class="top-alert-content">
                                <p class="fs-10 text-body-tertiary mb-0">Bank Capacity</p>
                                <div class="fs-10 fw-semibold text-body-emphasis list-title">48V 650 Ah</div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
       
          </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                    <div>
                      <h5 class="card-title fw-semibold">Battery List</h5>
                      <h6 class="fs-10 text-body-tertiary card-subtitle mb-2">Overview</h6>
                    </div>                    
                  </div>
                  <ul class="list-group battery-list mt-3">
                    <li class="d-flex justify-content-between align-items-center">
                      <div class="list-icon">
                        <span class="isax isax-battery-charging"></span>
                      </div>
                      <div class="top-alert-content">
                        <div class="fs-10 fw-semibold text-body-emphasis list-title">Model 1</div>
                        <p class="fs-10 text-body-tertiary mb-0">Servotech Power Systems</p>
                      </div>
                      <div class="top-alert-time">
                        <p class="fs-10 text-body-tertiary mb-0">100</p>
                      </div>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <div class="list-icon">
                          <span class="isax isax-battery-charging"></span>
                        </div>
                        <div class="top-alert-content">
                          <div class="fs-10 fw-semibold text-body-emphasis list-title">Model 2</div>
                          <p class="fs-10 text-body-tertiary mb-0">Servotech Power Systems</p>
                        </div>
                        <div class="top-alert-time">
                          <p class="fs-10 text-body-tertiary mb-0">200</p>
                        </div>
                      </li>
                      <li class="d-flex justify-content-between align-items-center">
                        <div class="list-icon">
                          <span class="isax isax-battery-charging"></span>
                        </div>
                        <div class="top-alert-content">
                          <div class="fs-10 fw-semibold text-body-emphasis list-title">Model 3</div>
                          <p class="fs-10 text-body-tertiary mb-0">Servotech Power Systems</p>
                        </div>
                        <div class="top-alert-time">
                          <p class="fs-10 text-body-tertiary mb-0">50</p>
                        </div>
                      </li>
                      <li class="d-flex justify-content-between align-items-center">
                        <div class="list-icon">
                          <span class="isax isax-battery-charging"></span>
                        </div>
                        <div class="top-alert-content">
                          <div class="fs-10 fw-semibold text-body-emphasis list-title">Model 4</div>
                          <p class="fs-10 text-body-tertiary mb-0">Servotech Power Systems</p>
                        </div>
                        <div class="top-alert-time">
                          <p class="fs-10 text-body-tertiary mb-0">100</p>
                        </div>
                      </li>
                  </ul>
                </div>
          
              </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div>
                  <h5 class="card-title fw-semibold">Bank Digital Twin</h5>
                  <h6 class="fs-10 text-body-tertiary card-subtitle mb-2">Overview</h6>
                </div>    
                <ul class="lagend-list">                  
                    <li class="list-item">
                        <span class="lagend-icon action-color-bg-1"></span> Full Battery Level
                      </li>
                    <li class="list-item">
                      <span class="lagend-icon action-color-bg-3"></span> Moderate Battery Level
                    </li>
                    <li class="list-item">
                        <span class="lagend-icon action-color-bg-4"></span> Low Battery Level 
                      </li>
                
                  </ul>                
              </div>
              <div class="bar-list mt-4">
                <div class="col-lg-12">
                  <div class="bar-list-row mb-4">
                    @for (item of batteryData; track item.id) {
                      <div  class="bar-cell">
                        <div class="value">{{item.value}}</div>
                        <div class="fill" [style.background-color]="item.color" [style.height]="item.value"></div>
                      </div>
                    } @empty {
                      <div> There are no items. </div>
                    }
                
                  </div>
                  <div class="bar-list-row  mb-4">
                    @for (item of batteryData1; track item.id) {
                      <div  class="bar-cell">
                        <div class="value">{{item.value}}</div>
                        <div class="fill" [style.background-color]="item.color" [style.height]="item.value"></div>
                      </div>
                    } @empty {
                      <div> There are no items. </div>
                    }
                
                  </div>
                </div>
              </div>
            
            </div>
      
          </div>
    </div>
  </div>

  <div class="row pb-4">
    <div class="col-lg-12">
      <div class="row dashboard-cards-wrapper">
        <div class="col-lg-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold">Categorized Alerts Counts</h5>
              <h6 class="fs-10 text-body-tertiary card-subtitle mb-2">Overview</h6>
              <div class="col-lg-12 mt-4 pb-4">
                <div class="row category-list">
                    <div class="col-lg-6 col-12">
                        <div class="d-flex flex-column">
                            <div  class="action d-flex align-self-end align-items-center mb-4">
                                <span class="lagend-icon action-color-bg-3 me-2"></span>
                                <div class="d-flex align-items-center"> 
                                    <p>Moderate:</p>
                                    <span>30</span>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                                <span class="isax isax-danger action-color-text-4"></span>
                                <p>Alerts</p>
                                <h2>120</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row mt-4">
                            <div class="col-lg-6 col-6 mb-4">
                                <div class="d-flex">
                                    <span class="lagend-icon action-color-bg-4 me-2 mt-1"></span>
                                    <div class="d-flex flex-column">
                                        <h2>400</h2>
                                        <p>High Risk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-6 mb-4">
                                <div class="d-flex">
                                    <span class="lagend-icon action-color-bg-3 me-2 mt-1"></span>
                                    <div class="d-flex flex-column">
                                        <h2>100</h2>
                                        <p>Moderate Risk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-6 mb-4">
                                <div class="d-flex">
                                    <span class="lagend-icon action-color-bg-1 me-2 mt-1"></span>
                                    <div class="d-flex flex-column">
                                        <h2>100</h2>
                                        <p>Low Risk</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
       
          </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                    <div>
                      <h5 class="card-title fw-semibold">Alerts</h5>
                      <h6 class="fs-10 text-body-tertiary card-subtitle mb-2">Overview</h6>
                    </div>                    
                  </div>
                  <div class="row">
                        <div class="col-lg-6 col-12">
                            <ul class="list-group top-alert-list mt-3">
                                <li class="d-flex justify-content-between align-items-center">
                                <div class="top-alert-icon action-light-color-bg-4">
                                    <span class="isax isax-danger action-color-text-4"></span>
                                </div>
                                <div class="top-alert-content">
                                    <div class="fs-10 fw-semibold text-body-emphasis list-title">Battery overheat</div>
                                    <p class="fs-10 text-body-tertiary mb-0">01:45 25/08/2023</p>
                                </div>
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                <div class="top-alert-icon action-light-color-bg-3">
                                    <span class="isax isax-danger action-color-text-3"></span>
                                </div>
                                <div class="top-alert-content">
                                    <div class="fs-10 fw-semibold text-body-emphasis list-title">Voltage upper cut off</div>
                                    <p class="fs-10 text-body-tertiary mb-0">01:45 25/08/2023</p>
                                </div>
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                <div class="top-alert-icon action-light-color-bg-1">
                                    <span class="isax isax-danger action-color-text-1"></span>
                                </div>
                                <div class="top-alert-content">
                                    <div class="fs-10 fw-semibold text-body-emphasis list-title">Battery overheat</div>
                                    <p class="fs-10 text-body-tertiary mb-0">01:45 25/08/2023</p>
                                </div>
                                </li>
                            
                            </ul>
                        </div>
                        <div class="col-lg-6 col-12">
                            <ul class="list-group top-alert-list mt-4">
                                <li class="d-flex justify-content-between align-items-center">
                                <div class="top-alert-icon action-light-color-bg-4">
                                    <span class="isax isax-danger action-color-text-4"></span>
                                </div>
                                <div class="top-alert-content">
                                    <div class="fs-10 fw-semibold text-body-emphasis list-title">Battery overheat</div>
                                    <p class="fs-10 text-body-tertiary mb-0">01:45 25/08/2023</p>
                                </div>
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                <div class="top-alert-icon action-light-color-bg-3">
                                    <span class="isax isax-danger action-color-text-3"></span>
                                </div>
                                <div class="top-alert-content">
                                    <div class="fs-10 fw-semibold text-body-emphasis list-title">Voltage upper cut off</div>
                                    <p class="fs-10 text-body-tertiary mb-0">01:45 25/08/2023</p>
                                </div>
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                <div class="top-alert-icon action-light-color-bg-1">
                                    <span class="isax isax-danger action-color-text-1"></span>
                                </div>
                                <div class="top-alert-content">
                                    <div class="fs-10 fw-semibold text-body-emphasis list-title">Battery overheat</div>
                                    <p class="fs-10 text-body-tertiary mb-0">01:45 25/08/2023</p>
                                </div>
                                </li>
                            
                            </ul>
                        </div>
                    </div>  
                </div>
          
              </div>
        </div>
      </div>
    </div>
  </div>
