<nav class="navbar navbar-vertical navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <!-- scrollbar removed-->
    <div class="navbar-vertical-content scrollbar">
      <div class="sidebar-logo d-flex justify-content-center align-items-center pt-2">
        <img src="assets/img/zyrone-energy.png" alt="zyrone-energy" width="34" height="34">
        <p class="logo-text ms-2 d-none d-sm-block">Zyrone Energy</p>
      </div>
      <div class="user-info text-center d-flex flex-column align-items-center pt-4 pb-3">
        <div class="avatar avatar-xl ">
          <img class="rounded-circle " src="assets/img/user-md.png" alt="">
        </div>
        <h6 class="mt-3 text-body-emphasis">Mathew Anderson</h6>
        <p class="text-body-emphasis mb-0">Super Admin</p>
      </div>
      <ul class="navbar-nav flex-column" id="navbarVerticalNav">
        <li class="nav-item">
          <!-- parent pages-->
          <hr class="navbar-vertical-line">
          <p class="navbar-vertical-label">MAIN</p>
          <div class="nav-item-wrapper">
            <a class="nav-link label-1" href="javascript:void(0)" routerLink="/dashboard" routerLinkActive="active" (click)="pageChangeEvent.emit('dashboard')" role="button" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="isax isax-graph"></span>
                </span>
                <span class="nav-link-text-wrapper">
                  <span class="nav-link-text">Dashboard</span>
                </span>
              </div>
            </a>
          </div>
          <div class="nav-item-wrapper">
            <a class="nav-link label-1" href="javascript:void(0)"  routerLink="/assets" routerLinkActive="active" (click)="pageChangeEvent.emit('assets')" role="button" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="isax isax-battery-charging"></span>
                </span>
                <span class="nav-link-text-wrapper">
                  <span class="nav-link-text">Assets</span>
                </span>
              </div>
            </a>
          </div>
          <div class="nav-item-wrapper">
            <a class="nav-link label-1" href="javascript:void(0)" routerLink="/services" routerLinkActive="active" (click)="pageChangeEvent.emit('services')" role="button" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="isax isax-setting-2"></span>
                </span>
                <span class="nav-link-text-wrapper">
                  <span class="nav-link-text">Services</span>
                </span>
              </div>
            </a>
          </div>
          <hr class="navbar-vertical-line">
          <p class="navbar-vertical-label">OTHER</p>
          <div class="nav-item-wrapper">
            <a class="nav-link label-1" href="javascript:void(0)" routerLink="/invoices" routerLinkActive="active" (click)="pageChangeEvent.emit('invoices')" role="button" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="isax isax-document"></span>
                </span>
                <span class="nav-link-text-wrapper">
                  <span class="nav-link-text">Invoices</span>
                </span>
              </div>
            </a>
          </div>
          <div class="nav-item-wrapper">
            <a class="nav-link label-1" href="javascript:void(0)" routerLink="/users" routerLinkActive="active" (click)="pageChangeEvent.emit('users')" role="button" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="nav-link-icon">
                    <span class="isax isax-user-cirlce-add"></span>
                  </span>
                </span>
                <span class="nav-link-text-wrapper">
                  <span class="nav-link-text">Users</span>
                </span>
              </div>
            </a>
          </div>
        </li>

      </ul>
    </div>
  </div>

</nav>
